html {
  background-color: black;
}

body {
  height: 150%; /* give room to hide address bar on mobile */
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
}

@keyframes pulsate {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0; }
}
